pytorch3d
tensorboardX
numpy>=1.16.2
torch>=1.0.1.post2
torchgeometry>=0.1.2
pillow
tqdm
Ninja
trimesh
pyrender
PyYAML
git+git://github.com/otaheri/chamfer_distance.git
git+git://github.com/otaheri/MANO.git
git+git://github.com/otaheri/bps_torch.git
git+git://github.com/MPI-IS/mesh.git
